<div class="row">
  <form class="form-inline text-center" novalidate="novalidate">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><span
          class="glyphicon glyphicon-map-marker"></span>Thực đơn</span>
        <div class="form-group select required">
          <select class="form-control select required">
            <option value="">--Chọn thực đơn-</option>
            <option value="1">Món khai vị</option>
            <option value="2">Món tráng miệng</option>
            <option value="3">Món chay</option>
            <option value="4">Món chính</option>
          </select></div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><span
          class="glyphicon glyphicon-book"></span> Loại món</span>
        <div class="form-group select required">
          <select class="form-control select required">
            <option value="">--Chọn loại món--</option>
            <option value="1">Snacks</option>
            <option value="2">Cupcake</option>
            <option value="3">Pasta - Spaghetti</option>
            <option value="4">Miến - Hủ tiếu</option>
            <option value="5">Bún - Mì - Phở</option>
          </select></div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><span
          class="glyphicon glyphicon-time"></span> Nguyên liệu</span>
        <div class="form-group select required">
          <select class="form-control select required">
            <option value="">--Chọn nguyên liệu--</option>
            <option value="1">Thủy hải sản</option>
            <option value="2">Thịt</option>
            <option value="3">Rau - Củ - Quả</option>
            <option value="4">Tinh bột - Ngũ cốc</option>
            <option value="5">Nguyên liệu khác</option>
          </select></div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-usd"></span> Độ khó</span>
        <div class="form-group select required">
          <select class="form-control select required">
            <option value="">--Chọn độ khó--</option>
            <option value="1">Dễ</option>
            <option value="2">Trung bình</option>
            <option value="3">Khó</option>
          </select></div>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" name="commit" value="Tìm kiếm"
        class="btn btn-default btn btn-primary" data-disable-with="Tìm kiếm"/>
    </div>
  </form>
</div>
