<% if type == Constants::HomePage::BANNER_RIGHT %>
    <div class="col-lg-3">
      <%= link_to class: "thumbnail" do%>
          <%= image_tag "/demo/banner1.png" %>
      <% end %>
    </div>
<% elsif type == Constants::HomePage::BANNER_MIDDLE %>
    <div class="col-lg-12">
      <%= link_to class: "thumbnail" do%>
          <%= image_tag "/demo/banner_middle.jpg", width: "100%" %>
      <% end %>
    </div>
<% end %>