<% if type == Settings.frontend.banner_left %>
  <div class="col-lg-3">
    <%= link_to class: "thumbnail" do %>
      <%= image_tag "/demo/banner1.png" %>
    <% end %>
  </div>
<% elsif type == Settings.frontend.banner_middle %>
  <div class="col-lg-12">
    <%= link_to class: "thumbnail" do %>
      <%= image_tag "/demo/banner_middle.jpg", id: "banner_middle" %>
    <% end %>
  </div>
<% end %>
