.admin-page {
  padding-top: 10px;
  .admin-sidebar {
    padding-top: 10px;
    .affix {
      position: fixed;
    }
  }
}

.icon-link {
  text-decoration: none !important;
}

.invisible-form {
  display: inline !important;
}

.step-image {
  padding-top: 15px;
  padding-bottom: 15px;
}

.frontend {
  #banner_middle {
    width: 100%;
  }
  .recipe-img {
    height: 200px;
    width: 300px;
  }
}

.bottom-buffer {
  padding-bottom: 20px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.cover-image {
  height: 200px !important;
}

.user-avatar {
  height: 100px;
  width: 100px;
}

.modal-dialog {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.container {
  .panel-default {
    border: none;
  }
}

#read-more {
  padding-left: 0px;
}

#padding-bottom {
  padding-bottom: 60px;
}
