<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @title %></h3>
      </div>
      <div class="panel-body" id="table" >
        <%= render "shared/user_recipes", recipes: @recipes %>
      </div>
    </div>
  </div>
</div>
