<div class="col-md-3 admin-sidebar">
  <div class="nav nav-stacked affix">
    <div class="sidebar-content">
      <ul>
        <li>
          <%= link_to admin_users_path do %>
            <span class="glyphicon glyphicon-user">
              <%= t "admin.side_bar.users" %>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <span class="glyphicon glyphicon-th-list">
              <%= t "admin.side_bar.recipes" %>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
